@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

/* This styles the scrollbar track (the part the thumb slides in) */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

/* This styles the scrollbar thumb (the part you drag) */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1; /* Creates padding around the thumb */
}

/* Changes the thumb color when hovering over it */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* This styles the scrollbar itself (including the track and thumb) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 10px;

}